@charset "UTF-8";

@font-face {
  font-family: "ChronicleDisp-Bold";
  font-display: swap;
  src: url("../fonts/ChronicleDisp-Bold.woff") format("woff"), url("../fonts/ChronicleDisp-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ChronicleDisp-Semibold";
  font-display: swap;
  src: url("../fonts/ChronicleDisp-Semibold.woff") format("woff"), url("../fonts/ChronicleDisp-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Extrabold";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

header a {
  color: #FFFFFF;
}

header h1 {
  font-family: 'ChronicleDisp-Semibold';
  font-size: 32px;
}

header {
  padding: 64px 80px 0px;
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
}

header .log {
  color: #0B1D26;
  margin-right: auto;
}

.menu {
  display: flex;
  list-style-type: none;
}

.menu li a {
  font-family: 'Gilroy-Bold';
  text-decoration: none;
  font-size: 18px;
  transform: scale(0);
  transition: all .3s;
}

.menu li a::after,
.account::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FBD784;
  transform: scale(0);
  transition: all .3s;
}

.menu li a:hover::after,
.account:hover::after {
  transform: scale(1);
  color: #FBD784;
}

.menu li a:hover,
.account:hover {
  color: #FBD784;
}

.menu li {
  margin-right: 40px;
}

.account {
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
  font-family: 'Gilroy-Bold';
}

.account i {
  margin-right: 10px;
}

.main-title {
  display: flex;
  align-items: center;
  margin-top: 200px;
  position: relative;
}

.follow-us {
  display: flex;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-family: 'Gilroy-Bold';
}

.follow-us p {
  margin-bottom: 24px;
}

.follow-us i {
  font-size: 24px;
  margin-bottom: 24px;
  transition: 0.3s;
}

.follow-us i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.title {
  margin-left: 396px;
  margin-right: 313px;
}

.title p {
  font-family: 'Gilroy-Extrabold';
  text-transform: uppercase;
  color: #FBD784;
  letter-spacing: 6px;
  position: relative;
}

.line-with-the-name {
  display: flex;
  align-items: center;
}

.vl {
  width: 72px;
  height: 2px;
  background-color: #FBD784;
  margin-right: 32px;
  margin-bottom: 20px;
}

.title {
  max-width: 950px;
  width: 100%;
  height: 310px;
}

.title span {
  font-family: 'ChronicleDisp-Semibold';
  font-size: 88px;
  text-transform: capitalize;
}

.scroll {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 80px;
  z-index: 999;
}

.scroll a {
  text-shadow: 1px 1px 2px black, 0 0 1em #21baf7;
  text-decoration: none;
  margin-bottom: 40px;
}

main {
  margin: 643px 230px 0px;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.content_reverse {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 200px;
}

.number-and-story {
  max-width: 782px;
  width: 100%;
  min-height: 542px;
  position: relative;
}

.story {
  display: block;
  max-width: 632px;
  width: 100%;
  margin: 150px;
}

.number {
  position: absolute;
  font-family: 'Gilroy-Bold';
  font-size: 240px;
  color: #fff;
  opacity: 0.25;
}

.line-with-the-name p {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: 'Gilroy-Extrabold';
  color: #FBD784;
  margin-bottom: 27px;
}

.title-text p {
  font-family: 'ChronicleDisp-Bold';
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 27px;
}

.text p {
  font-family: 'ChronicleDisp-Bold';
  line-height: 32px;
  text-align: justify;
}

#more,
#more_02,
#more_03 {
  display: none;
}

#read_more,
#read_more_02,
#read_more_03 {
  cursor: pointer;
  color: #FBD784;
  font-family: 'Gilroy-Bold';
}

.slider {
  max-width: 566px;
  width: 100%;
  height: auto;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
}

/* Слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Точки (булиты) */

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 45%;
  bottom: 20px;
  position: relative;
  bottom: 0;
  left: 0;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.slick-dots li button:hover {
  cursor: pointer;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid white;
}

footer .container-sml {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left {
  max-width: 360px;
  width: 100%;
  height: auto;
}

.footer .log {
  font-family: 'ChronicleDisp-Semibold';
}

.left .wish {
  font-family: 'Gilroy-Bold';
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 122px;
}

.copyright {
  font-family: 'Gilroy-Medium';
  opacity: 0.4;
  margin-bottom: 20px;
}

.right {
  max-width: 566px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.more-list-item {
  text-decoration: none;
  color: #fff;
}

.more-on-the-blog {
  list-style: none;
  line-height: 40px;
}

.more-on-the-blog::before {
  content: 'More on the blog';
  color: #FBD784;
  font-size: 24px;
}

.more-on-MNTN {
  list-style: none;
  line-height: 40px;
}

.more-on-MNTN::before {
  content: 'More on the blog';
  color: #FBD784;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Medium',sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  color: #ffffff;
  background: url("../img/bg-MNTN.jpg") 0 0/100% no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
}

body::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(202, 204, 205, 0) 1%, rgba(66, 79, 86, 0.42) 6%, rgba(39, 54, 62, 0.42) 7%, rgba(11, 29, 38, 0.42) 8%, #0b1d26 22%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#0b1d26',GradientType=0 );
  position: absolute;
}

.container {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
}

.container-sml {
  max-width: 1462px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1680px) {
  .title span {
    font-size: 68px;
  }

  main {
    margin: 443px 80px 0px;
  }

  .content_reverse .number-and-story {
    margin-right: 60px;
  }

  .more-on-MNTN {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1640px) {
  .slider {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 1440px) {
  .title span {
    font-size: 48px;
  }

  main {
    margin: 220px 230px 0px;
  }

  .content,
  .content_reverse {
    flex-direction: column;
    align-items: center;
  }

  footer .container-sml {
    max-width: 1100px;
    width: 100%;
  }

  body::before {
    background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 0%, rgba(202, 204, 205, 0) 1%, rgba(66, 79, 86, 0.42) 6%, rgba(39, 54, 62, 0.42) 7%, rgba(11, 29, 38, 0.42) 8%, #0b1d26 13%);
  }
}

.webp body{ background: url(../img/bg-MNTN.webp) 0 0/100% no-repeat; }